.container {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-primary: black;
  --button-secondary: white;
}

@media (prefers-color-scheme: dark) {
  .container {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary: black;
    --button-primary: white;
  }
}
.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  grid-row-start: 2;
}

.main h2{
  text-align: center;
}

.blogItem h3{ 
  cursor: pointer;
}

.blogItemp{
  max-width: 45vw;
}

.btn{
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  color: var(--button-secondary);
  background-color: var(--button-primary);
  transition:background-color 0.2s ease-in-out;
}

.btn:hover{
  background-color: var(--button-primary-hover);
  color: var(--button-secondary-hover);
}